* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#viewport {
    margin-top: 2em;
}

#popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.3;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.delete-button {
    margin: 0;
}

.disabled {
    visibility: hidden;
}

.json-container {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1em;
    width: 400px;
    box-shadow: 1px 1px 2px grey;
}

.neat-designer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output {
    display: flex;
    justify-content: center;
}

.popup {
    position: absolute;
    background: white;
}
